<div [@thumbState]="idx === counter ? 'active' : 'inactive'" style="width: 95%; height: 100%; position: absolute;" class="tmb" *ngFor="let img of images; let idx = index">

    <div>

        <i class="fa fa-arrow-circle-right" style="
        position: absolute;
        z-index: 1000;
        top: 45%;
        font-size: 50px;
        right: 10px;
        color: rgba(240, 248, 255, 0.418);
        -webkit-box-shadow: 9px 7px 5px rgba(68, 67, 67, 0.589);
        -moz-box-shadow:    9px 7px 5px rgba(68, 67, 67, 0.589);
        box-shadow:         9px 7px 5px rgba(68, 67, 67, 0.589);
        border-radius: 100%
        " (click)="onClickThumb($event)"></i>

        <img class="imagens" (mouseover)="stopTimer()" (mouseout)="startTimer()" [src]="img"
             />

        <i class="fa fa-arrow-circle-left" style="
        position: absolute;
        z-index: 1000;
        top: 45%;
        font-size: 50px;
        left: 10px;
        color: rgba(240, 248, 255, 0.418);
        -webkit-box-shadow: 9px 7px 5px rgba(68, 67, 67, 0.589);
        -moz-box-shadow:    9px 7px 5px rgba(68, 67, 67, 0.589);
        box-shadow:         9px 7px 5px rgba(68, 67, 67, 0.589);
        border-radius: 100%
        " (click)="onClickThumb($event)"></i>

        
    </div>
</div>